* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-image: url("/assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #212936;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #4D5562;
    text-align: center;
    max-width: 400px;
    width: 70%;
    padding: 20px;
    margin: 150px 10px;
}

.container.second {
    display: none;
}

header figure img {
    width: 100%;
    border-radius: 10px;
}

.title {
    color: #E5E7EB;
    font-size: 1.5em;
    margin: 10px 0;
}

.author {
    color: #777;
    font-size: 1em;
}

.player {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.time-elapsed {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}

.progress-container {
    background-color: #ddd;
    height: 4px;
    border-radius: 2px;
    margin: 8px 0;
    position: relative;
}

.progress-bar {
    background-color: #C93B76;
    height: 100%;
    border-radius: 2px;
}
.buttons  {
    margin-top: 20px;
}
.play-pause {
    background-color: #C93B76;
    color: #E5E7EB;
}
.pause-play {
    background-color: #C93B76;
    color: #E5E7EB;
    display: none;
}

button {
    background: none;
    border: none;
    border-radius: 50%;
    font-size: 1.5em;
    color: #4D5562;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}

button:hover {
    animation: glow 2s infinite;
    background-color: #C93B76;
    color: #E5E7EB;
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 400px;
    }

    header figure img {
        max-height: 300px;
        max-width: 350px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        font-size: 14px;
    }
}
@keyframes glow {
    0% {
        box-shadow: 0 0 5px #C93B76;
    }

    50% {
        box-shadow: 0 0 20px #C93B76, 0 0 30px #C93B76;
    }

    100% {
        box-shadow: 0 0 5px #C93B76;
    }
}